<template>
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h3 class="text-info text-center" @click="mainTitleClick">VueJS Post List</h3>

              <div class="bg-info">
                  <button @click="decrease">-</button>
              {{ counter }}
                  <button @click="increase">+</button>
              </div>
              <p class="text-danger">{{ name }}</p>
              <h4>Programming Languages</h4>
              {{ programmingLanguages[2]}}
              <ul>
                  <li v-for="language in programmingLanguages">{{ language }}</li>
              </ul>
              <ol>
                  <template v-for="lang in programmingLanguages">
                      <li>{{ lang }}</li>
                  </template>
              </ol>
          </div>
          <div class="col-6 mx-auto">
              <div class="card mb-3" v-for="post in posts">
                  <div class="card-header">
                      {{  post.title }}
                  </div>
                  <div class="card-body">
                      {{  post.body }}
                  </div>
                  <div class="card-footer">
                      create at: {{ post.jalaliDate }}
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-4">
              <h1 class="text-danger">{{ posts.length }}</h1>
              <ul v-if="posts.length > 0">
                  <li v-for="post in posts" @click="getPostById(post.id)">{{ post.title }}</li>
              </ul>
          </div>
          <div class="col-8">
              <div>
                  {{ currentPost.body }}
              </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
    name: "PostList",
    data(){
        return {
            name: "Rouhollah Mazarei",
            programmingLanguages: ["VueJS", "PHP", "Perl", "Python"],
            counter: 0,
            posts: [],
            currentPost: {},
        }
    },
    created() {
        this.getPosts()
    },
    methods: {
        increase(){
            this.counter++;
        },
        decrease(){
            this.counter--;
        },
        mainTitleClick(){
            this.name = "John Doe";
        },
        getPosts(){
            // get posts with axios from api/posts route
            axios.get('/api/posts')
                .then(response => {
                    console.log(response.data);
                    this.posts = response.data.data;
                    this.currentPost = response.data.data[0];
                })
                .catch(error => {
                    console.log(error);
                });
        },
        getPostById(postId){
            axios.get('/api/posts/' + postId)
            .then(response => {
                this.currentPost = response.data;
            })
        }
    }
}
</script>

